player-connection-mode=Listen
player-connection-guid=1654567921
player-connection-debug=0
player-connection-project-name=Self_Parking_MDRL
player-connection-ip=192.168.200.196
player-connection-ip=25.16.127.162
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=3bfd234a1143414e8b02cf5ba5e812c0
