player-connection-mode=Listen
player-connection-guid=3372562887
player-connection-debug=0
player-connection-project-name=Self_Parking_MDRL
player-connection-ip=192.168.200.196
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=bcb84fafe92547c887e9ced709a8e814
